<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New medical request in your vicinity</h1>
    <p>Thanks for joining and have a great day! <%= @request.medicine_detail%></p>
  </body>
</html>