<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thanks for joining and have a great day!
    Your medicine details are: </p>
    <b>Category: </b>
    <%= Request::MEDICINE_TYPE_INVERT[@request_added.medicine_type]%>
    <br>
    <b>Details:</b>
    <%= @request_added.medicine_detail%>
  </body>
</html>