@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  font-family: serif;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    margin-right: 10px;
    margin-left: 10px;
    color: #777;
    border-top: 1px solid #eaeaea;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}

textarea {
  width: 100%;
}

.submit {
  width: 50%;
}

input {
  height: auto !important;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.container {
  span {
    color: white;
    size: 50px;
    font-family: serif;
  }
}

.center {
  text-align: center;
  background-color: darkgrey;
  opacity: 0.8;

  .welcome {
    margin-top: -20px;
    margin-bottom: 40px;
    color: #000000;
    font-family: serif;

      #welcome-text {
          margin-top: -30px;
        font-family: 'Impact';
      }     
  }
}

.alert-alert {
  @extend .alert-warning;
}

.alert-success {
  @extend .alert-success;
}