<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">MediLocus</a>
    for <a href="http://www.michaelhartl.com/">Sequoia hack</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
